@model SimpleMovieSearch.ViewModels.VideoListViewModel


<form action="" method="post">
    <div>
        @if (Model.Video == null)
        {
            <label>Title</label>
            <input type="text" name="Title" />
            <label>Image</label>
            <input type="text" name="Image" />
            <label>ShortDescription</label>
            <input type="text" name="ShortDescription" />
            <label>LongDescription</label>
            <input type="text" name="LongDescription" />
            <label>IsFavorites</label>
            <input type="checkbox" name="IsFavorites" value="true" />
            <label>Author</label>
            <select name="AuthorId">
                <option disabled>Choose author</option>
                @foreach (Author author in Model.Authors)
                {
                    <option value="@author.Id">@author.Name</option>
                }
            </select>
            <select multiple name="GenreId">
                <option disabled>Choose Genre</option>
                @foreach (Genre genre in Model.Genres)
                {
                    <option value="@genre.Id">@genre.Name</option>
                }
            </select>
            <button type="submit">Create</button>
        }
        else
        {
            <input type="hidden" value="@Model.Video.Id" name="Id" />
            <label>Title</label>
            <input type="text" name="Title" value="@Model.Video.Title" />
            <label>Image</label>
            <input type="text" name="Image" value="@Model.Video.Image" />
            <label>ShortDescription</label>
            <input type="text" name="ShortDescription" value="@Model.Video.ShortDescription" />
            <label>LongDescription</label>
            <input type="text" name="LongDescription" value="@Model.Video.LongDescription" />
            <label>IsFavorites</label>
            @if (Model.Video.IsFavorites == true)
            {
                <input type="checkbox" name="IsFavorites" checked="checked" value="@Model.Video.IsFavorites" />
            }
            else
            {
                <input type="checkbox" name="IsFavorites" value="@Model.Video.IsFavorites" />   
            }
            <label>Author</label>
            <select name="AuthorId">
                <option disabled>Choose author</option>
                @foreach (Author author in Model.Authors)
                {
                    if (Model.Video.AuthorId == author.Id)
                    {
                        <option value="@author.Id" selected="@Model.Video.AuthorId">@author.Name</option>
                    }
                    else
                    {
                        <option value="@author.Id">@author.Name</option>
                    }

                }
            </select>
            <select multiple="multiple" name="GenresId">
                <option disabled>Choose Genre</option>
                @foreach (Genre genre in Model.Genres)
                {
                    //foreach (var itmem in Model.Genres) {
                    //    if (Model.Video.GanresId[itmem] == genre.Id) { }
                    <option value="@genre.Id">@genre.Name</option>

                    @*}*@
                }
            </select>
            <button type="submit">Save</button>
        }
    </div>
</form>