@model SimpleMovieSearch.ViewModels.VideoListViewModel

<h1>All Videos</h1>
<div>
    <form action="List" method="post">
        <label class="control-label">Авторы: </label>
        <select name="authorId" asp-items="Model.Authors" class="form-control"></select>

        <label class="control-label">Жанры: </label>
        <select multiple name="genresId" asp-for="Genres" asp-items="Model.Genres" class="form-control"></select>

        <button type="submit">Save</button>
    </form>
</div>
<div class="row mt-5 mb-2">
    @{
        foreach (Video video in Model.Videos)
        {
        <div class="col-lg-4">
            @video.Id
            <img class="img-thumbnail" src="@video.Image" alt="@video.Title" />
            <h2>Video: @video.Title</h2>
            <p>@video.Author.Name</p>
            <p>@video.ShortDescription</p>
            @foreach (Genre genre in video.Genres)
            {
                <p>@genre.Name</p>
            }
            <p><a class="btn btn-warning" href="#">More information</a></p>
            <p><a class="btn btn-warning" href="/Videos/AddOrEdit?Id=@video.Id">Edit</a></p>
            <p><a class="btn btn-warning" href="/Videos/Delete?Id=@video.Id">Delete</a></p>
            <p><a class="btn btn-warning" href="/Videos/AddToFavorite?Id=@video.Id" action="AddToFavorite">Add to favorite</a></p>
        </div>
        }
    }
    <a href="/Videos/AddOrEdit" >New Video</a>
</div>