@model IEnumerable<SimpleMovieSearch.Models.Video> 

<h1>All Videos</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (Video video in Model)
        {
        <div class="col-lg-4">
            @video.Id
            <img class="img-thumbnail" src="@video.Image" alt="@video.Title" />
            <h2>Video: @video.Title</h2>
            <p>@video.ShortDescription</p>
            <p>@video</p>
            <p><a class="btn btn-warning" href="#">More information</a></p>
            <p><a class="btn btn-warning" href="/Videos/AddOrEdit?Id=@video.Id">Edit</a></p>
            <p><a class="btn btn-warning" href="/Videos/Delete?Id=@video.Id" action="Delete">Delete</a></p>
            <form asp-controller="FavoriteVideos" asp-action="AddToFavorite">
                <input type="hidden" asp-for="@video.Id" />
                <input type="submit" value="AddToFavorite" class="btn btn-warning" />

            </form>
            <p><a class="btn btn-warning" href="/Videos/AddToFavorite?Id=@video.Id" action="AddToFavorite">Add to favorite</a></p>
        </div>
        }
    }

    <a href="/Videos/AddOrEdit">New Video</a>
</div>